/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
/* Centered text */
.web{
    position: absolute;
    top: 27%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size:40px;
}

a{
    text-decoration: none;

}
  